name: Build executables

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Linux system dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libncurses5 libncursesw5
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build executable
        run: |
          pyinstaller \
            --onefile \
            --name ASTEROID-SHOOTER \
            --hidden-import=curses \
            --hidden-import=_curses \
            --log-level=DEBUG
            code/game.py


      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ASTEROID-SHOOTER-${{ matrix.os }}
          path: dist/
