name: Build executables

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libncurses6 libncursesw6 libtinfo6


      - if: runner.os == 'Windows'
        run: python -m pip install windows-curses

      - run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - if: runner.os != 'Windows'
        run: |
          pyinstaller --onefile --name ASTEROID-SHOOTER --hidden-import=curses --hidden-import=_curses --log-level=DEBUG code/game.py

      - if: runner.os == 'Windows'
        shell: pwsh
        run: |
          pyinstaller --onefile --name ASTEROID-SHOOTER --hidden-import=curses --hidden-import=_curses --log-level=DEBUG code/game.py

      - uses: actions/upload-artifact@v4
        with:
          name: ASTEROID-SHOOTER-${{ matrix.os }}
          path: dist/ASTEROID-SHOOTER${{ runner.os == 'Windows' && '.exe' || '' }}